 .faqCard {
    background-color: white;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    
    // &__question {
    //     color: green;
    // }
    
}